@using Microsoft.Extensions.Options
@using Globe
@model Shared.Models.ConferenceModel
@inject IOptions<GlobeOptions> options
<tr>
    <td>@Model.Name</td>
    <td>@Model.Location</td>
    <td>@Model.Start.ToString()</td>
    @if (Model.AttendeeTotal > options.Value.BoldConferenceAttendeeThreshold)
    {
        <td><strong>@Model.AttendeeTotal</strong></td>

    }
    else
    {
        <td>@Model.AttendeeTotal</td>

    }
    <td>
        <a asp-controller="Proposal" asp-action="Index" asp-route-conferenceId="@Model.Id">Proposals</a>
    </td>
</tr>